# Node.js dependencies
node_modules/
package-lock.json

# Environment variables
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pm2.log
logs/

# Docker
docker-compose.override.yml
.dockerignore

# VSCode & IDEs
.vscode/
.idea/
*.swp

# System files
.DS_Store
Thumbs.db

# Git
.git/
